/********** Fixes **********/
* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.clear {
  clear: both;
}
/* Positioning Classes */
.colum3{
  column-count: 3;
  clear: both;
}
.col2-1{
  width: 66.25%;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
}
.col2-2{
  width: 32.25%;
  display: inline-block;
  float: right;
  margin-left: 1.5%;
  margin-bottom: 2%;
}
.colum2{
  column-count: 2;
}
